<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_bootstrap_meta')%>
    <title>Home</title>
  </head>
  <body">
    <!-- Header Partial -->
    <%- include('_header')%>

    <div
      id="main-container"
      style="
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
      "
    >
      <div class="border border-dark" style="width: 45%">
        <div
          class="bg-dark text-white border-dark"
          style="padding: 5px"
        >
          <div class="mx-auto" style="width: 200px">
            <h4>Pending Reviews</h4>
          </div>
        </div>
        <div>
            <% for(let emp of toReview){%>
              <div class="card" style="border: 0;">
                 <div class="card-body">
                     <h5 class="card-title">Write a review for: <%=emp.name%></h5>
                     <form action="/review/create-review/<%=emp._id %>" method="post">
                         <div class="form-group">
                             <textarea class="form-control" rows="3" name="review" placeholder="Give your review"></textarea>
                         </div>
                     <div style="display: flex; justify-content: flex-end;margin-top: 7px;">
                         <button type="submit" class="btn btn-primary">Submit Feedback</button>
                     </div>
                     </form>
                 </div>
             </div>
             <%}%>

        </div>
      </div>

      <div class="border border-dark" style="width: 45%">
        <div class="bg-dark text-white border-dark" style="padding: 5px">
          <div class="mx-auto" style="width: 200px">
            <h4>My Reviews</h4>
          </div>
        </div>
        <div>
            <% for(let i=0;i< myReviews.length;i++){%>
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">From : <%=myReviews[i].name%></h5>
                      <p class="card-text">Review: <%=myReviews[i].review%></p>
                  </div>
              </div>
              <% } %>
        </div>
      </div>
    </div>
    <%- include('_bootstrap_script')%>
  </body>
</html>
